{{view('front/header')}}
    
    <div class="header-nav mid-header">
      <div class="box-header-nav"> <span data-action="toggle-nav-cat" class="nav-toggle-menu nav-toggle-cat"><span>Categories</span><i aria-hidden="true" class="fa fa-bars"></i></span> 
        
        <!-- categori -->
        <div class="block-nav-categori">
          <div class="block-title"> <span>Categories</span> </div>
          <div class="block-content">
            <div class="clearfix"><span data-action="close-cat" class="close-cate"><span>Categories</span></span></div>
            <ul class="ui-categori">
              <li class="parent"> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat1.png" alt="nav-cat"></span> Electronics </a> <span class="toggle-submenu"></span>
                <div class="submenu" style="background-image: url(images/media/index1/bgmenu.jpg);">
                  <ul class="categori-list clearfix">
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">Smartphone</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">TElevision</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="#">Camera</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="categori-list clearfix">
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">Smartphone</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">Television</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">Camera</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="parent"> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat2.png" alt="nav-cat"></span> Sports & Outdoors </a> <span class="toggle-submenu"></span>
                <div class="submenu">
                  <div class="categori-img"> <a href="category.html"><img src="images/media/index1/categori-img1.jpg" alt="categori-img"></a> </div>
                  <ul class="categori-list">
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">Smartphone</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">TElevision</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">Camera</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3"> <strong class="title"><a href="category.html">washing machine</a></strong>
                      <ul>
                        <li><a href="category.html">Skirts </a></li>
                        <li><a href="category.html">Jackets</a></li>
                        <li><a href="category.html">Jumpusuits</a></li>
                        <li><a href="category.html">Scarvest</a></li>
                        <li><a href="category.html">T-Shirts</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="parent"> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat3.png" alt="nav-cat"></span> Smartphone & Tablets </a> <span class="toggle-submenu"></span>
                <div class="submenu"> <strong class="subtitle"><span>special products</span></strong>
                  <div class="owl-carousel" 
                                                data-nav="true" 
                                                data-dots="false" 
                                                data-margin="30" 
                                                data-autoplayTimeout="300" 
                                                data-autoplay="true" 
                                                data-loop="true"
                                                data-responsive='{
                                                "0":{"items":1},
                                                "380":{"items":1},
                                                "480":{"items":1},
                                                "600":{"items":1},
                                                "992":{"items":4}
                                                }'>
                    <div class="product-item product-item-opt-1">
                      <div class="product-item-info">
                        <div class="product-item-photo"> <a class="product-item-img" href="detail.html"><img alt="product name" src="images/media/index1/product-menu1.jpg"></a> </div>
                        <div class="product-item-detail home-pro"> <strong class="product-item-name"><a href="detail.html">Asus Ispiron 20</a></strong>
                          <div class="product-item-price"> <span class="price">$45.00</span> </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-item product-item-opt-1">
                      <div class="product-item-info">
                        <div class="product-item-photo"> <a class="product-item-img" href="detail.html"><img alt="product name" src="images/media/index1/product-menu2.jpg"></a> </div>
                        <div class="product-item-detail home-pro"> <strong class="product-item-name"><a href="detail.html">Electronics Ispiron 20 </a></strong>
                          <div class="product-item-price"> <span class="price">$45.00</span> </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-item product-item-opt-1">
                      <div class="product-item-info">
                        <div class="product-item-photo"> <a class="product-item-img" href="detail.html"><img alt="product name" src="images/media/index1/product-menu3.jpg"></a> </div>
                        <div class="product-item-detail home-pro"> <strong class="product-item-name"><a href="detail.html">Samsung Ispiron 20 </a></strong>
                          <div class="product-item-price"> <span class="price">$45.00</span> </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-item product-item-opt-1">
                      <div class="product-item-info">
                        <div class="product-item-photo"> <a class="product-item-img" href="detail.html"><img alt="product name" src="images/media/index1/product-menu4.jpg"></a> </div>
                        <div class="product-item-detail home-pro"> <strong class="product-item-name"><a href="detail.html">Electronics Ispiron 20 </a></strong>
                          <div class="product-item-price"> <span class="price">$45.00</span> </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-item product-item-opt-1">
                      <div class="product-item-info">
                        <div class="product-item-photo"> <a class="product-item-img" href="detail.html"><img alt="product name" src="images/media/index1/product-menu4.jpg"></a> </div>
                        <div class="product-item-detail home-pro"> <strong class="product-item-name"><a href="detail.html">Samsung Ispiron 20 </a></strong>
                          <div class="product-item-price"> <span class="price">$45.00</span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat4.png" alt="nav-cat"></span> Health & Beauty </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat5.png" alt="nav-cat"></span> Bags, Shoes & Accessories </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat6.png" alt="nav-cat"></span> Toys & Hobbies </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat7.png" alt="nav-cat"></span> Computers & Networking </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat8.png" alt="nav-cat"></span> Laptops & Accessories </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat9.png" alt="nav-cat"></span> Jewelry  & Watches </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat10.png" alt="nav-cat"></span> Flashlights & Lamps </a> </li>
              <li> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat11.png" alt="nav-cat"></span> Cameras & Photo </a> </li>
              <li class="cat-link-orther"> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat10.png" alt="nav-cat"></span> Sport & Outdoors </a> </li>
              <li class="cat-link-orther"> <a href="category.html"> <span class="icon"><img src="images/icon/index1/nav-cat9.png" alt="nav-cat"></span> Watch & Jewellry </a> </li>
            </ul>
            <div class="view-all-categori"> <a  class="open-cate btn-view-all">All Categories</a> </div>
          </div>
        </div>
        <!-- categori --> 
        
        <!-- menu -->
        <div class="block-nav-menu">
          <div class="clearfix"><span data-action="close-nav" class="close-nav"><span>close</span></span></div>
          <ul class="ui-menu">
            <li> <a href="#">New Buyer Rewards</a></li>
            <li class="parent parent-megamenu"> <a href="Contact.html">Services </a> <span class="toggle-submenu"></span>
              <div class="megamenu drop-menu">
                <ul>
                  <li class="col-md-6">
                    <ul class="list-submenu">
                      <li><a href="#">Trade Assurance</a></li>
                      <li><a href="#">Pay Later</a></li>
                      <li><a href="#">Payment Terms: Net-60</a></li>
                      <li><a href="#">Production Monitoring & Inspection Services</a></li>
                      <li><a href="#">Logistics Service</a></li>
                      <li><a href="#">Letter of Credit</a></li>
                    </ul>
                  </li>
                  <li class="col-md-6"> <strong class="title"><a href="#"><span>Sourcing Solutions </span></a></strong>
                    <ul class="list-submenu">
                      <li><a href="#">Submit RFQ</a></li>
                      <li><a href="#">Suppliers by Regions</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="parent parent-submenu"> <a href="Contact.html"> Sell on Afremarkete </a> <span class="toggle-submenu"></span>
                <div class="submenu drop-menu">
                  <ul>
                    <li><a href="#">For Global Seller</a></li>
                    <li><a href="#">For USA Seller</a></li>
                    <li><a href="#">For India Seller</a></li>
                    <li><a href="#">For UK Seller</a></li>
                    <li><a href="#">Partner Program</a></li>
                  </ul>
                </div>
              </li>
            <li class="parent parent-submenu"> <a href="Contact.html"> Help's </a> <span class="toggle-submenu"></span>
              <div class="submenu drop-menu">
                <ul>
                  <li><a href="#">For Buyers</a></li>
                  <li><a href="#">For Suppliers</a></li>
                  <li><a href="#">Submit a Dispute</a></li>
                  <li><a href="#">Report IPR Infringement</a></li>
                  <li><a href="#">Report Abuse</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- menu --> 
        
        <span data-action="toggle-nav" class="nav-toggle-menu"><span>Menu</span><i aria-hidden="true" class="fa fa-bars"></i></span>
        <div class="block-minicart dropdown "> <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"> <span class="cart-icon"></span> </a>
          <div class="dropdown-menu">
            <form>
              <div  class="minicart-content-wrapper" >
                <div class="subtitle"> You have 6 item(s) in your cart </div>
                <div class="minicart-items-wrapper">
                  <ol class="minicart-items">
                    <li class="product-item"> <a class="product-item-photo" href="#" title="The Name Product"> <img class="product-image-photo" src="images/media/index1/minicart.jpg" alt="The Name Product"> </a>
                      <div class="product-item-details"> <strong class="product-item-name"> <a href="#">Donec Ac Tempus</a> </strong>
                        <div class="product-item-price"> <span class="price">61,19 €</span> </div>
                        <div class="product-item-qty"> <span class="label">Qty: </span ><span class="number">1</span> </div>
                        <div class="product-item-actions"> <a class="action delete" href="#" title="Remove item"> <span>Remove</span> </a> </div>
                      </div>
                    </li>
                    <li class="product-item"> <a class="product-item-photo" href="#" title="The Name Product"> <img class="product-image-photo" src="images/media/index1/minicart2.jpg" alt="The Name Product"> </a>
                      <div class="product-item-details"> <strong class="product-item-name"> <a href="#">Donec Ac Tempus</a> </strong>
                        <div class="product-item-price"> <span class="price">61,19 €</span> </div>
                        <div class="product-item-qty"> <span class="label">Qty: </span ><span class="number">1</span> </div>
                        <div class="product-item-actions"> <a class="action delete" href="#" title="Remove item"> <span>Remove</span> </a> </div>
                      </div>
                    </li>
                  </ol>
                </div>
                <div class="subtotal"> <span class="label">Total</span> <span class="price">$630</span> </div>
                <div class="actions"> 
                  <!-- <a class="btn btn-viewcart" href="">
                                                <span>Shopping bag</span>
                                            </a> -->
                  <button class="btn btn-checkout" type="button" title="Check Out"> <span>Checkout</span> </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="block-search">
          <div class="block-title"> <span>Search</span> </div>
          <div class="block-content">
            <div class="form-search">
              <form>
                <div class="box-group">
                  <input type="text" class="form-control" placeholder="Search here...">
                  <button class="btn btn-search" type="button"><span>search</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="dropdown setting"> <a data-toggle="dropdown" role="button" href="#" class="dropdown-toggle "><span>Settings</span> <i aria-hidden="true" class="fa fa-user"></i></a>
          <div class="dropdown-menu  ">
            <div class="switcher1  switcher-language"> <strong class="title">Get started now</strong>
              <ul class="switcher-options">
                <li class="switcher-option"> <a href="#"> Sign In</a></li>
                <li class="switcher-option text-center">or</li>
                <li class="switcher-option"> <a href="#"> Join Free</a></li>
              </ul>
            </div>
            <div class="switcher  switcher-currency"> <strong class="title">Continue with:</strong>
              <ul class="switcher-options ">
                <li class="switcher-option"> <a href="#"> <img src="images/fb.svg"></a> </li>
                <li class="switcher-option"> <a href="#"> <img src="images/googel.svg"></a> </li>
                <li class="switcher-option"> <a href="#"> <img src="images/in.svg"></a> </li>
                <li class="switcher-option"> <a href="#"> <img src="images/tw.svg"></a> </li>
              </ul>
            </div>
              <ul class="account">
                <li><a href="wishList.html">Wishlist</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="checkout.html">Checkout</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end HEADER -->

		<!-- MAIN -->
  <main class="site-main">
    <div class="columns container-fluid"> 
      <!-- Block  Breadcrumb-->
      
      <ol class="breadcrumb no-hide">
        <li><a href="#">Home </a></li>
        <li><a href="#">Electronics </a></li>
        <li class="active">Machine Pro</li>
      </ol>
      <!-- Block  Breadcrumb-->
      
      <div class="row"> 
        
        <!-- Main Content -->
        <div class="col-md-12  col-main">
          <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-5">
              <div class="product-media media-horizontal">
                <div class="image_preview_container images-large"> <img id="img_zoom" data-zoom-image="images/media/detail/thumb-lag1.jpg" src="images/media/detail/thumb-img1.jpg" alt="">
                  <button class="btn-zoom open_qv"><span>zoom</span></button>
                </div>
                <div class="product_preview images-small">
                  <div class="owl-carousel thumbnails_carousel" id="thumbnails"  data-nav="true" data-dots="false" data-margin="10" data-responsive='{"0":{"items":3},"480":{"items":4},"600":{"items":5},"768":{"items":3}}'> <a href="#" data-image="images/media/detail/thumb-img1.jpg" data-zoom-image="images/media/detail/thumb-lag1.jpg"> <img src="images/media/detail/thumb1.jpg" data-large-image="images/media/detail/thumb-img1.jpg" alt=""> </a> <a href="#" data-image="images/media/detail/thumb-img2.jpg" data-zoom-image="images/media/detail/thumb-lag2.jpg"> <img src="images/media/detail/thumb2.jpg" data-large-image="images/media/detail/thumb-img2.jpg" alt=""> </a> <a href="#" data-image="images/media/detail/thumb-img3.jpg" data-zoom-image="images/media/detail/thumb-lag3.jpg"> <img src="images/media/detail/thumb3.jpg" data-large-image="images/media/detail/thumb-img3.jpg" alt=""> </a> <a href="#" data-image="images/media/detail/thumb-img1.jpg" data-zoom-image="images/media/detail/thumb-lag1.jpg"> <img src="images/media/detail/thumb1.jpg" data-large-image="images/media/detail/thumb-img1.jpg" alt=""> </a> </div>
                  <!--/ .owl-carousel--> 
                  
                </div>
                <!--/ .product_preview--> 
                
              </div>
              <!-- image product --> 
            </div>
            <div class="col-sm-6 col-md-7 col-lg-7">
              <div class="product-info-main">
                <h1 class="page-title"> Advanced Dark Blue Coast </h1>
                <div class="product-reviews-summary">
                  <div class="rating-summary">
                    <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                  </div>
                  <div class="reviews-actions"> <a href="#" class="action view">Based  on 3 ratings</a> <a href="#" class="action add"><img alt="img" src="images/icon/write.png">&#160;&#160;write a review</a> </div>
                </div>
                <div class="product-info-price">
                  <div class="price-box"> <span class="price">$38.95 </span> <span class="old-price">$52.00</span> <span class="label-sale">-30%</span> </div>
                </div>
                <div class="product-code"> Item Code: #453217907 : </div>
                <div class="product-info-stock">
                  <div class="stock available"> <span class="label">Availability: </span>In stock </div>
                </div>
                <div class="product-condition"> Condition: New </div>
                <div class="product-overview">
                  <div class="overview-content"> Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. </div>
                </div>
                <div class="product-add-form">
                
                  <p>Available Options:</p>
                  <form>
                    <div class="product-options-wrapper">
                     <div class="row">
                     <div class="col-md-3">
                      <div class="form-qty">
                        <label class="label">Qty: </label>
                        <div class="control">
                          <input type="text" class="form-control input-qty" value='1' id="qty1" name="qty1"  maxlength="12"  minlength="1">
                          <button class="btn-number  qtyminus" data-type="minus" data-field="qty1"><span>-</span></button>
                          <button class="btn-number  qtyplus" data-type="plus" data-field="qty1"><span>+</span></button>
                        </div>
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="form-configurable">
                        <label for="forSize" class="label">Size: </label>
                        <div class="control">
                          <select  id="forSize" class="form-control attribute-select">
                            <option value="1">XXXL</option>
                            <option value="4">X</option>
                            <option value="5">L</option>
                          </select>
                        </div>
                        <a href="#" class="size-chart">Size chart</a> </div>
                     </div>
                     <div class="col-md-12">
                     
                      <div class="">
            <label class="btn btn-info">
                <input type="radio" class="form-switch radio_1set" name="colorCheckbox" value="Latifa Towers Branch" gl1="1" data-id="a">Buy 1 At $35.98/pc</label>
            <label class="btn btn-info">

                <input type="radio" class="form-switch radio_1set" name="colorCheckbox" value="Al Barsha Branch" gl1="2" data-id="b"> Buy 2 At $32.99/pc (Top Selling)</label>
            <label class="btn btn-info">
                <input type="radio" class="form-switch radio_1set" name="colorCheckbox" value="Vision Tower Branch" gl1="3" data-id="c"> Buy 3 At $29.99/pc (Best Deal)</label>
        </div>
                     </div>
                     
                     
                     
                     </div>
                    </div>
                    <div class="product-options-bottom clearfix">
                      <div class="actions">
                        <button type="submit" title="Add to Cart" class="action btn-cart"> <span>Add to Cart</span> </button>
                         <button type="submit" title="Add to Cart" class="action btn-cart1"> <span>Contact Supplier </span> </button>
                          <button type="submit" title="Add to Cart" class="action btn-cart"> <span>Buy Now</span> </button>
                        <div class="product-addto-links"> <a href="wishList.html" class="action btn-wishlist" title="Wish List"> <span>Wishlist</span> </a> <a href="compare.html" class="action btn-compare" title="Compare"> <span>Compare</span> </a> </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="product-addto-links-second"> <a href="#" class="action action-print">Print</a> <a href="#" class="action action-friend">Send to a friend</a> </div>
                <div class="share"> <img src="images/media/index1/share.png" alt="share"> </div>
              </div>
              <!-- detail- product --> 
              
            </div>
            <!-- Main detail --> 
            
          </div>
          
          <!-- product tab info -->
          
          <div class="product-info-detailed "> 
            
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="#description"  role="tab" data-toggle="tab">Product Details </a></li>
              <li role="presentation"><a href="#tags"  role="tab" data-toggle="tab">information </a></li>
              <li role="presentation"><a href="#reviews"  role="tab" data-toggle="tab">reviews</a></li>
              <li role="presentation"><a href="#additional"  role="tab" data-toggle="tab">Extra Tabs</a></li>
              <li role="presentation"><a href="#tab-cust"  role="tab" data-toggle="tab">Guarantees</a></li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="description">
                <div class="block-title">Product Details</div>
                <div class="block-content">
                  <p>Morbi mollis tellus ac sapien. Nunc nec neque. Praesent nec nisl a purus blandit viverra. Nunc nec neque. Pellentesque auctor neque nec urna.</p>
                  <br>
                  <p>Curabitur suscipit suscipit tellus. Cras id dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas vestibulum mollis diam.</p>
                  <br>
                  <p>Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Sed lectus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Nam at tortor in tellus interdum sagittis. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est.</p>
                  <br>
                  <p>Morbi mollis tellus ac sapien. Nunc nec neque. Praesent nec nisl a purus blandit viverra. Nunc nec neque. Pellentesque auctor neque nec urna.</p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tags">
                <div class="block-title">information</div>
                <div class="block-content">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="reviews">
                <div class="block-title">reviews</div>
                <div class="block-content">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="additional">
                <div class="block-title">Extra Tabs</div>
                <div class="block-content">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab-cust">
                <div class="block-title">Guarantees</div>
                <div class="block-content">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
              </div>
            </div>
          </div>
          <!-- product tab info --> 
          
          <!-- block-related product -->
          <div class="block-related ">
            <div class="block-title"> <strong class="title">RELATED products</strong> </div>
            <div class="block-content ">
              <ol class="product-items owl-carousel " data-nav="true" data-dots="false" data-margin="30" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"992":{"items":3},"1200":{"items":4}}'>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/related2-1.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Brown Short 100% Cotton</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/related2-2.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Summer T-Shirt</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/related2-3.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Blue Short 50% Cotton</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/related2-1.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Brown Short 100% Cotton</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <!-- block-related product --> 
          
          <!-- block-Upsell Products -->
          <div class="block-upsell ">
            <div class="block-title"> <strong class="title">You might also like</strong> </div>
            <div class="block-content ">
              <ol class="product-items owl-carousel " data-nav="true" data-dots="false" data-margin="30" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"992":{"items":3},"1200":{"items":4}}'>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/Upsell2-1.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Leather Swiss Watch</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/Upsell2-2.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Sport T-Shirt For Men</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/Upsell2-3.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Fashion Leather Handbag</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product-item product-item-opt-2">
                  <div class="product-item-info">
                    <div class="product-item-photo"> <a href="#" class="product-item-img"><img src="images/media/detail/Upsell2-3.jpg" alt="product name"></a>
                      <div class="product-item-actions"> <a href="#" class="btn btn-wishlist"><span>wishlist</span></a> <a href="#" class="btn btn-compare"><span>compare</span></a> <a href="#" class="btn btn-quickview"><span>quickview</span></a> </div>
                      <button class="btn btn-cart" type="button"><span>Add to Cart</span></button>
                    </div>
                    <div class="product-item-detail"> <strong class="product-item-name"><a href="#">Fashion Leather Handbag</a></strong>
                      <div class="clearfix">
                        <div class="product-item-price"> <span class="price">$45.00</span> <span class="old-price">$52.00</span> </div>
                        <div class="product-reviews-summary">
                          <div class="rating-summary">
                            <div class="rating-result" title="70%"> <span style="width:70%"> <span><span>70</span>% of <span>100</span></span> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <!-- block-Upsell Products --> 
          
        </div>
        <!-- Main Content --> 
        
      </div>
    </div>
  </main>
  <!-- end MAIN --> 
  
  {{view('front/footer')}}